POSTGRES_DB=campus_core
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
ConnectionStrings__Default=Host=postgres;Database=campus_core;Username=postgres;Password=change-me

BACKOFFICE_PORT=8081
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
USE_HTTPS_REDIRECTION=false
